<div class="container-fluid banner">

    <div class="row">
        <div class="col-md-12"></div>
        <nav class="navbar">
        <div class="navbar-brand">
            
                <img src="./../../assets/pictures/logo1.png" alt=""width="70"
                height="70" >
        Retail Relier
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">LOGIN</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/register">register</a>
            </li> -->
        </ul>
        </nav>
    </div>
    <div class="col-md-6 offset-md-3 info">
        <p>Every kind of service necessary to the public good becomes honorable by being necessary.</p>
        <a href="/about" class="btn btn-md tect-center"> GET STARTED</a>
    </div>
</div>



<div class="row row-cols-1 row-cols-md-3 g-4 a1">
    <div class="col c1">
      <div class="card h-100">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d497511.1146258272!2d79.92880429627343!3d13.048043806039958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5265ea4f7d3361%3A0x6e61a70b6863d433!2sChennai%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1665657487417!5m2!1sen!2sin" width="200" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"  class="card-img-top"></iframe>
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title c11">LOCATION WE SUPPORT</h5>
          <p class="card-text c11">It takes month to find a customer ..... <br>
            Seconds to loose one
        </p>
        </div>
      </div>
    </div>
    <div class="col c2">
      <div class="card h-100">
        <img src="./../../assets/pictures/economic.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ECONOMIC GROWTH</h5>
          <p class="card-text">Real progress cannot be measured by money alone. We must ensure that economic growth contributes to our quality of life, rather than degrading it.</p>
        </div>
      </div>
    </div>
    <div class="col c3">
      <div class="card h-100">
        <img src="./../../assets/pictures/customer.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CUSTOMER</h5>
          <p class="card-text">You’ll never have a product or price advantage again. They can be easily duplicated, but a strong customer service culture can’t be copied.</p>
        </div>
      </div>
    </div>
  </div>



