.navbar-brand{
    font-family: 'Ms Madi', cursive;
    font-size:5ch;
    font-weight: 500;
    color: rgb(255, 123, 0);
    font-style: oblique;
    margin-left: 5%;

}

.banner{
    height: 105vh;
    width: 100%;
    background:url('./../../assets/pictures/deliver.jpeg');
    background-position: top;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
.nav{
    margin-right: 5ch;
}
.nav-link{
    color: rgb(255, 123, 0);
    font-style: unset;
    
}
.nav-link:hover{
    color:black;
    background-color: rgb(255, 123, 0);
    transition:0.7s;
}
.f,h3{

    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    color: rgb(255, 123, 0);
    text-align: center;
    font-size:xx-large;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.774);
    margin-top: 6%;
    opacity: .7;
}
form{
    width: 25rem;
    height: 28rem;
    
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0px 8px 32px 0 rgba(31,38,135,0.37);
    border-radius: 30px;
    border-left: 1px solid rgba(0, 0, 0, 0.774);
    border-right: 1px solid rgba(0, 0, 0, 0.774);
    border-top: 1px solid rgba(0, 0, 0, 0.774);
    border-bottom: 1px solid rgba(0, 0, 0, 0.774);

}
label{
    bottom: -70px;    font-size: 20px;
    color: bisque;
    margin-left: 10%;
    opacity: .8;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.774);
}
.l1{
    
    bottom: 50%;
}
input{
    width: 80%;
    margin: 5% auto;
    margin-bottom: 8%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    border-bottom: 1px solid rgba(255, 123, 0,0.6);
    opacity: 0.8;
}
button{
    width: 50%;
    margin: 3% auto;
    color: black;
    font-size: 15px;
    opacity: .7;
    background: rgba(6, 241, 104, 0.473);
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    text-shadow: 2px 2px 4px rgba(255, 123, 0, 0.6);
    box-shadow: 3px 3px 5px rgba(10, 10, 10, 0.6);
    font-size: larger;
    bottom:25px;

}
button:hover{
    color:rgb(255, 123, 0);
    background-color: black;
    transition:0.7s;
}

.a{
    /* background-color: yellow; */
    font-size:20px;
    font-weight: 500;
    font-style: oblique;
    text-transform: uppercase;
}
