*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    height:unset;
    

}
.nav-item{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
nav{
    
    background-color: whitesmoke;
    position:fixed;
    top: 0;
    bottom: 0;
    /* height:100%; */
    left: 0;
    background-color: whitesmoke;
    width: 70px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}
.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
a{
    position: relative;
    color:rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10 px;
}
i{
    position: relative;
    width: 70px;
    height: 40px;
    top:14 px;
    font-size:20px;
    text-align: center;
}
.nav-item{
    position: relative;
    top:12px;
    margin-left: 10px;
}
a:hover{
    background-color: black;
    color: orangered;
}
nav:hover{
    width:280px;
    transition: all 0.5s ease;
}
.logout{
    position: absolute;
    bottom: 0;

}
i{
    bottom:-10px;
}