<app-menu></app-menu>


<h2>Product Requested</h2>
<br>
<!-- <div class="message">{{msg}}</div> -->
<!-- button -->

<!-- this paragraph tag is for deleting meassage info -->
<!-- <p>{{msg}}</p> -->


<div class="button_container">
    
    <!-- <a  routerLink="/register"><button class="btn" id="btn"><span><i class="fa-solid fa-user"></i> Add user</span></button></a>&nbsp; -->

    <!-- <a  routerLink="/addAttendance"><button class="btn" id="btn1" ><span>Add Attandance</span></button></a>&nbsp;

    <a  routerLink="/ManageAttendance"><button class="btn" id="btn2"><span>Manage Attandance</span></button></a>&nbsp; -->
    
</div>


  
  

<!-- search bar -->

<!-- <div class="searchBox">

    <input class="searchInput"type="text" name="" placeholder="Search"  #search (keyup)="SearchUser(search.value)">
    <button class="searchButton" href="#">
        <i class="fa-solid fa-magnifying-glass">
            
        </i>
    </button>
</div> -->


<!-- Table -->

    
    <table class="container">
        <thead>
            <tr>
                <th><h1>S.No</h1></th>
                <th><h1>Date</h1></th>
                <th><h1>Product Name</h1></th>
                <!-- <th><h1>Last Name</h1></th> -->
                <th><h1>Product Quantity</h1></th>
                <th><h1>Our company</h1></th>
                <th><h1>Ordered Company</h1></th>
                <th><h1>Accquired By</h1></th>
                <!-- <th><h1>Email</h1></th>
                <th><h1>Phone Number</h1></th> -->
                <!-- <th><h1>Operation</h1></th> -->

            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let r of Requested; index as i;">
                <td>{{i+1}}</td>
                <td id="name">{{r.date}} / {{r.month+1}} / {{r.year}}</td>
                <td id="name">{{r.pname}}</td>
                <td>{{r.pqty}}</td>
                <td>{{r.foffice}}</td>
                <td>{{r.prodcomp}}</td>
                <td>{{r.fdesignation}}</td>
                <!-- <td></td>
                <td></td> -->
                <!-- <td>
                    <a routerLink="/edit/{{user._id}}"><button class="btn"><i class="fa-solid fa-pen blue"></i></button></a>&nbsp;
                    <button class="btn" (click)="deleteUser(user._id)"><i class="fa-solid fa-trash text-danger"></i></button>&nbsp;
                    <a routerLink="/user_info/{{user._id}}"><button class="btn"><i class="fa-solid fa-circle-info text-warning"></i></button></a>
                </td> -->
            </tr>
        </tbody>
    </table>
    <p  class="text-center text-danger" id="record" *ngIf="Requested.length==0" >No Records Found</p>
    <br>

