<app-menu></app-menu>

<h2>Stock Management</h2>
<br>
<!-- button -->

<!-- this paragraph tag is for deleting meassage info -->
<!-- <p>{{msg}}</p> -->


<div class="button_container">
    
    <a  routerLink="/product" target="_blank"><button class="btn" id="btn"><span> <i class="fas fa-truck-loading"></i> Add Product</span></button></a>&nbsp;

    <!-- <a  routerLink="/addAttendance"><button class="btn" id="btn1" ><span>Add Attandance</span></button></a>&nbsp;

    <a  routerLink="/ManageAttendance"><button class="btn" id="btn2"><span>Manage Attandance</span></button></a>&nbsp; -->
    
</div>


  
  

<!-- search bar -->

<!-- <div class="searchBox">

    <input class="searchInput"type="text" name="" placeholder="Search"  #search (keyup)="SearchProduct(search.value)">
    <button class="searchButton" href="#">
        <i class="fa-solid fa-magnifying-glass">
            
        </i>
    </button>
</div> -->


<!-- Table -->
<div class="message">{{msg}}</div>
    
    <table class="container">
        <thead>
            <tr>
                <th><h1>Id</h1></th>
                <th><h1>Name</h1></th>
                <th><h1>Date Of Purchase</h1></th>
                <th><h1>Company</h1></th>
                <th><h1>Supplier</h1></th>
                <th><h1>Cost Price <br class="text-center">Per qty</h1></th>
                <th><h1>Selling Price <br class="text-center">Per qty</h1></th>
                <th><h1>Quantity</h1></th>
                <th><h1>Operation</h1></th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prod of products; index as i;">
                <td>{{i+1}} </td>
                <td id="name">{{prod.pname}}</td>
                <td>{{prod.pdob}}</td>
                <td>{{prod.pc}}</td>
                <td>{{prod.pbuying}}</td>
                <td>{{prod.pprice}}</td>
                <td>{{prod.pselling}}</td>
                <td>{{prod.pqty}}</td>
                <td>
                    <a routerLink="/edit_product/{{prod._id}}"target="_blank"><button class="btn"><i class="fa-solid fa-pen blue"></i></button></a>&nbsp;
                    <button class="btn" (click)="deleteProduct(prod._id)"><i class="fa-solid fa-trash text-danger"></i></button>&nbsp;
                    <a routerLink="/product_info/{{prod._id}}"target="_blank"><button class="btn"><i class="fa-solid fa-circle-info text-warning"></i></button></a>
                </td>
            </tr>
        </tbody>
    </table>
    <p  class="text-center text-danger" id="record" *ngIf="products.length==0">No Records Found</p>
    <br>

