<app-menu></app-menu>


<h2>Bill Product</h2>
<br>
<!-- button -->

<!-- this paragraph tag is for deleting meassage info -->
<!-- <p>{{msg}}</p> -->


<div class="details">
    
    <!-- <a  routerLink="/add"><button class="btn" id="btn"><span>Add Employee</span></button></a>&nbsp;

    <a  routerLink="/addAttendance"><button class="btn" id="btn1" ><span>Add Attandance</span></button></a>&nbsp;

    <a  routerLink="/ManageAttendance"><button class="btn" id="btn2"><span>Manage Attandance</span></button></a>&nbsp;
 -->

 <label class="mi m1">Bill No : </label><input type="text" placeholder="Bill No" class="cus" #billno><button class="btn" (click)="bill(billno.value)"><i class="fa-solid fa-check text-success"></i></button>

 
 <label class="mi">Customer Name : </label><input type="text" placeholder="Name of the customer" class="cus"#consname><button class="btn"(click)="name(consname.value)"><i class="fa-solid fa-check text-success"></i></button>
 
 <label class="mi">Contact Number : </label><input type="text" placeholder="Contact Number" class="cus"#phone><button class="btn"(click)="ph(phone.value)"><i class="fa-solid fa-check text-success"></i></button>
<br>
 <label class="mi">Email : </label><input type="text" placeholder="Customer Mail Id" class="cus"#mail><button class="btn"(click)="mails(mail.value)"><i class="fa-solid fa-check text-success"></i></button>
   
</div>
<div class="b">

<a class="k"><button class="btn" id="btn1" (click)="findTc()"><span>Total Cost</span></button></a><span class="cst" id="tc"></span>

<a class="k1" (click)="billing()" target="_blank"><button class="btn" id="btn2" ><span>Pay</span></button></a><span class="py" id="pys"></span>

</div>



<!-- search bar -->
<!-- 
<div class="searchBox">

    <input class="searchInput"type="text" name="" placeholder="Search"  #search (keyup)="searchbill(search.value)">
    <button class="searchButton" href="#">
        <i class="fa-solid fa-magnifying-glass">
            
        </i>
    </button>
</div> -->


<!-- Table -->
    
    <table class="container">
        <thead>
            <tr>
                <th><h1>Id</h1></th>
                <th><h1>Name</h1></th>
                <!-- <th><h1>Date Of Purchase</h1></th> -->
                <!-- <th><h1>Supplier Mail Id</h1></th> -->
                <th><h1>Company</h1></th>
                <!-- <th><h1>Cost Price <br class="text-center">Per qty</h1></th> -->
                <th><h1>Selling Price <br class="text-center">Per qty</h1></th>
                <th><h1>Quantity Available</h1></th>
                <th><h1>Quantity Selling</h1></th>
                <th><h1>Operation</h1></th>
                <!-- <th><h1>Sub Total</h1></th> -->

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prod of products; index as i;">
                <td>{{i+1}} </td>
                <td id="name">{{prod.pname}}</td>
                <!-- <td>{{prod.pdob}}</td> -->
                <!-- <td>valliappan23@gmail.com</td> -->
                <td>{{prod.pc}}</td>
                <!-- <td>{{prod.pprice}}</td> -->
                <td>{{prod.pselling}}</td>
                <td #avail>{{prod.pqty}}</td>
                <td class="form__group field"><input type="text" class="form__field" placeholder="Quantity" #qty></td>
                <td>
                    <button class="btn"><i class="fa-solid fa-check text-success"(click)="cost(prod.pname,prod.pc,prod.pselling,qty.value,prod.pqty)"></i></button>
                    <!-- <button class="btn"><i class="fa-solid fa-trash text-danger"></i></button>&nbsp;
                    <a ><button class="btn"><i class="fa-solid fa-circle-info text-warning"></i></button></a> -->
                </td>
                <!-- <td id="tc"></td> -->
            </tr>
        </tbody>
    </table>
    <p  class="text-center text-danger" id="record" *ngIf="products.length==0">No Records Found</p>
    <br>

